@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<LastguyShop.Models.Product.ListProduct>
@{
    var indexRow = 1;
}

@{
}
<style>
    table {
        /*border-collapse: collapse;*/
        width: 100%;
    }

    /*th, td {
            text-align: left;
            padding: 8px;
        }*/

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    .noneDeco {
        text-decoration:none;
    }

    .button-soft-green{
        background-color:#8cde98;
    }

    .button-soft-blue {
        background-color: #789cd6;
    }

    .button-soft-gray {
        background-color: #b8bfba;
    }
</style>
<div>
    <h3>รายการสินค้า</h3>
</div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <input type="text" placeholder="ชื่อสินค้า" class="form-control" id="SearchName"/>
                </div>
                <div class="col-2">
                    <div class="custom-control custom-checkbox" style="text-align:center; margin-top:5px;">
                    <input type="checkbox" class="custom-control-input largerCheckbox" id="SearchNearlyOutOfStock" style="margin-right:10px;">สินค้าใกล้หมด
                    </div>
                </div>
                <div class="col-2">
                    <div class="custom-control custom-checkbox" style="text-align:left; margin-top:5px;">
                        <input type="checkbox" class="custom-control-input largerCheckbox" id="SearchFavorite" style="margin-right:10px;">สินค้าที่ถูกใจ
                    </div>
                </div>
                <div class="col-2" style="text-align:center; padding-right:10px">
                    <button class="btn button-soft-blue" style="width:100%;" onclick="SearchProduct()">ค้นหา</button>
                </div>
            </div>
        </div>
    </div>

<div class="card" style="margin-top:20px;">
    <div class="card-body">
        <div style="margin-top:20px; margin-bottom:20px;">
            <div style="text-align:right;">
                <a asp-area="" asp-controller="Home" asp-action="ReportProductAction" class="noneDeco">
                    <button type="button" class="btn button-soft-green" style="width:17%">รายงานสินค้าใกล้หมด</button>
                </a>
                <a asp-area="" asp-controller="Home" asp-action="InsertProduct">
                    <button type="button" class="btn button-soft-green" style="width:15%;">เพิ่มสินค้า</button>
                </a>
            </div>
        </div>
        <div>
            <table id="productTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" style="text-align:center; width:1.65%;">ลำดับ</th>  @*width:20px;*@
                        <th scope="col" style="text-align:center; width:20%;">ชื่อสินค้า</th> @*width:300px;*@
                        <th scope="col" style="text-align:center; width:6%;">ราคา</th> @*width:70px;*@
                        <th scope="col" style="text-align:center; width:6%;">จำนวน</th> @*width:70px;*@
                        <th scope="col" style="text-align:center; width:9%;">หน่วยสินค้า</th> @*width:100px;*@
                        <th scope="col" style="text-align:center; width:7%;">สถานะ</th> @*width:100px;*@
                        <th scope="col" style="text-align:center; width:29%;">หมายเหตุ</th> @*width:350px;*@
                        <th scope="col" style="text-align:center; width:10%;">ดูรายละเอียด</th> @*width:150px;*@
                        <th scope="col" style="text-align:center; width:10%;">จัดการสินค้า</th> @*width:150px;*@
                        <th scope="col" style="text-align:center; width:1.65%;">ถูกใจ</th> @*width:150px;*@
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count > 0)
                    {
                        @foreach (var productItem in Model)
                        {
                            <tr>
                                <th scope="row" style="text-align:center">@(indexRow++)</th>
                                <td>@productItem.productName</td>
                                <td style="text-align:center">@productItem.price</td>
                                <td style="text-align:center">@productItem.totalAmount</td>
                                <td style="text-align:center">@productItem.unit</td>
                                <td style="text-align:center">@productItem.status</td>
                                <td>@productItem.note</td>
                                <td style="text-align:center">
                                    <a href="@Url.Action("DetailProduct","Home",new {productId=productItem.productId})">
                                        ดูรายละเอียด
                                        @*<button type="button" class="btn btn-primary text-center">ดูรายละเอียด</button>*@
                                    </a>
                                </td>
                                <td style="text-align:center">
                                    <a href="@Url.Action("ManageProduct","Home",new {productId=productItem.productId})">
                                        จัดการสินค้า
                                        @*<button type="button" class="btn btn-primary text-center">จัดการสินค้า</button>*@
                                    </a>
                                </td>
                                <td style="text-align:center">
                                    <input type="checkbox" onchange="setFavorite(@(productItem.productId))" @(productItem.isFavorite == 1 ? "checked" : "")>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <th colspan="8" class="text-center">ไม่มีรายการสินค้า</th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    var setFavorite = function(id){
        var favoriteStatus = document.getElementById('SearchNearlyOutOfStock').checked;
        var dataSetFav = {
            productId: id,
            favoriteStatus: favoriteStatus
        };
        $.ajax({
            type:"Get",
            url: "/Home/setFavorite",
            data: dataSetFav,
            success:function(response){
                $("body").html(response);
            },error:function(error){
                console.log("error");
            }
        });
    };

    var SearchProduct = function(){
        console.log("error");
        console.log(jQuery().jquery);
        var SearchName = document.getElementById('SearchName').value;
        var SearchNearlyOutOfStock = document.getElementById('SearchNearlyOutOfStock').checked;
        var SearchFavorite = document.getElementById('SearchFavorite').checked;
        var dataSearch = {
            name: SearchName,
            isNearly: SearchNearlyOutOfStock,
            isFavorite: SearchFavorite
        };
        
        $.ajax({
            type:"Get",
            url:"/Home/ListProduct",
            data: dataSearch,
            success:function(response){
                $("body").html(response);
            },error:function(error){
                console.log("error");
            }
        });
    };
</script>

       @*         //swal({
        //    title: "ยืนยันลบรายการสินค้า ",
        //    text: "ยืนยันลบรายการสินค้า ",
        //    confirmButtonText: "ใช่",
        //    type:"warning",
        //    cancelButtonText: "ใช่",
        //    showCancelButton:true
        //},
        //function(isConfirm){
        //    if(isConfirm){
        //        console.log("submit");
        //            var data = document.getElementById('SearchName123');
        //            var a = date.val;
        //            console.log(a);
        //            $.ajax({
        //                type:"Post",
        //                url:"/Home/ListProduct",
        //                data: dataSearch,
        //                success:function(response){
        //                    swal();
        //                    alert("success");
        //                    console.log(response);
        //                },error:function(error){
        //                    swal();
        //                    alert("error");
        //                    console.log(response);
        //                }
        //            });
        //    }else{
        //        console.log("cancel");
        //    }
        //});*@