@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LastguyShop.Models.Product.ManageProduct

@{
}
<style>
    table {
        /*border-collapse: collapse;*/
        width: 100%;
    }

    /*th, td {
                text-align: left;
                padding: 8px;
            }*/

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .noneDeco {
        text-decoration: none;
    }

    .button-soft-green {
        background-color: #8cde98;
    }

    .button-soft-blue {
        background-color: #789cd6;
    }

    .button-soft-gray {
        background-color: #b8bfba;
    }

    .button-gray {
        background-color: #e9ecef;
        border: 1px solid #ced4da;
    }

    .button-soft-red {
        background-color: #d13b54
    }
</style>
<div class="row">
    <div class="col-6">
        <div style="width:100%; text-align:left; margin-top:20px;">
             <h3>@Model.product.productName</h3>
        </div>
    </div>
    @*<div class="col-2">
        
    </div>*@
    <div class="col-6">
        <div style="text-align:right; margin-bottom:20px;">
            <button class="btn text-center button-soft-red" style="margin-top:20px; width:15%;" onclick="DeleteProduct()">ลบข้อมูล</button>
            <a asp-area="" asp-controller="Home" asp-action="ListProduct">
                <button type="button" class="btn text-center button-soft-gray" style="margin-top:20px; width:30%;">กลับ</button>
            </a>
        </div>
    </div>
</div>
<form action="ManageProductAction" method="post" enctype="multipart/form-data">
    <div>
        <h5>ข้อมูลสินค้า</h5>
    </div>
    <div class="row">
        <div class="col-6">
            <label>ชื่อสินค้า :</label>
            <input class="form-control" type="text" asp-for="product.productName" placeholder="ชื่อสินค้า" value="@Model.product.productName" id="productName"/>

            <label>จำนวนคงเหลือ :</label>
            <input class="form-control" type="text" asp-for="product.totalAmount" placeholder="จำนวนคงเหลือ" value="@Model.product.totalAmount"/>

            <label>หน่วยสินค้า :</label>
            <input class="form-control" type="text" asp-for="product.unit" placeholder="หน่วยสินค้า" value="@Model.product.unit" />

            <label>หมายเหตุ :</label>
            <input class="form-control" type="text" asp-for="product.note" placeholder="หมายเหตุ" value="@Model.product.note" />
        </div>
        <div class="col-6">
            <label>ราคา :</label>
            <div class="input-group">
                <input class="form-control" type="text" asp-for="product.price" placeholder="ราคา" value="@Model.product.price">
                <div class="input-group-append">
                    <button 
                        class="btn btn-outline-secondary modal-price form-control button-gray" 
                        type="button" data-toggle="modal"
                            data-target="#historyModal">
                        ย้อนหลัง
                    </button>
                </div>
            </div>

            <label>จำนวนคงคลังขั้นต่ำ :</label>
            <input class="form-control" type="text" asp-for="product.SafetyStockNumber" placeholder="จำนวนคงคลังขั้นต่ำ" value="@Model.product.SafetyStockNumber" />

            <label>รายละเอียด :</label>
            <input class="form-control" type="text" asp-for="product.description" placeholder="รายละเอียด" value="@Model.product.description" />
        </div>
    </div>
    <div style="margin-top: 50px;">
        <h5>ข้อมูลร้านค้า</h5>
    </div>
    <div class="row">
        <div class="col-6">
            <label>ชื่อร้าน :</label>
            <input class="form-control" type="text" asp-for="supplier.supplierName" placeholder="ชื่อร้าน" value="@Model.supplier.supplierName" />

            <label>เบอร์โทร :</label>
            <input class="form-control" type="text" asp-for="supplier.phoneNumber" placeholder="เบอร์โทร" value="@Model.supplier.phoneNumber" />

            <label>วันทำการ :</label>
            <input class="form-control" type="text" asp-for="supplier.workday" placeholder="วันทำการ" value="@Model.supplier.workday" />

            <label>LineID :</label>
            <input class="form-control" type="text" asp-for="supplier.lineId" placeholder="LineID" value="@Model.supplier.lineId" />
        </div>
        <div class="col-6">
            <label>ที่อยู่ :</label>
            <input class="form-control" type="text" asp-for="supplier.address" placeholder="ที่อยู่" value="@Model.supplier.address" />

            <label>ชื่อผู้ติดต่อ :</label>
            <input class="form-control" type="text" asp-for="supplier.contactName" placeholder="ชื่อผู้ติดต่อ" value="@Model.supplier.contactName" />

            <label>เวลาทำการ :</label>
            <input class="form-control" type="text" asp-for="supplier.officeHours" placeholder="เวลาทำการ" value="@Model.supplier.officeHours" />
            <input type="hidden" asp-for="product.productId" value="@Model.product.productId" id="productId">
        </div>
    </div>
    <div style="margin-top: 50px;">
        <h5>รูปสินค้า</h5>
    </div>
    <div style="padding-right:20px">
        <input type="file" asp-for="fileUpload" class="form-control" style="width:50%"/>
    </div>
    <div style="margin-top:10px">
        <img src="https://www.w3schools.com/images/lamp.jpg" width="200" height="200" />
        <img src="Storage/FileUpload/a23ded91000f4a62b7acdf762b668cf8.jpg" width="200" height="200" />
    </div>
    <div style="width:100%; text-align:center;">
        <button type="submit" class="btn button-soft-blue" style="margin-top:20px; text-align:center; width:400px;">บันทึก</button>
    </div>
</form>
<div class="modal fade" id="historyModal" role="dialog" data-url="@Url.Action("ManageHistoryPricePartialView","Home",new{productId=Model.product.productId})" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ราคาย้อนหลัง</h4>
            </div>
            <div class="modal-body" id="modal-price-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn button-soft-gray close-modal" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.modal-price').click(function(){
        var url = $('#historyModal').data('url');
        $.get(url,function(data){
            $("#modal-price-body").html(data);
            $("#historyModal").modal('show');
        })
    })

    $('.close-modal').click(function () {
        $(".modal-backdrop").remove();
        $(".show").remove();
    })

    var DeleteProduct = function(){
        
        var pName = document.getElementById('productName').value;
        var pId = document.getElementById('productId').value;
        swal({
            title: "ยืนยันลบรายการสินค้า",
            text: "คุณต้องการลบรายการสินค้า '" + pName + "' ใช่หรือไม่",
            type: "warning",
            confirmButtonText: "ใช่",
            cancelButtonText: "ไม่ใช่",
            showCancelButton: true
        }).then((result) =>{
            if (result.value) {
               swal({ 
                    text:"ลบข้อมูลเรียบร้อย",
                    type:"success"
                }).then((result) =>{
                    var dataDelete = {
                        productId: pId
                    };
                    $.ajax({
                        type: "Post",
                        url: "/Home/DeleteProductAction",
                        data: dataDelete,
                        success: function (response) {
                            var dataSearch ={
                                name:"",
                                isNearly:false,
                                isFavorite:false,
                                page:1
                            };
                            $.ajax({
                                type: "Get",
                                url: "/Home/ListProduct",
                                data: dataSearch,
                                success: function (response) {
                                    $("body").html(response);
                                }, error: function (error) {
                                    console.log("error");
                                }
                            });
                        }, error: function (error) {
                            console.log("error");
                        }
                    });
                });
                
            } else {
                swal('ไม่สามารถลบข้อมูลได้', '', 'error');
            }
        });
    };
</script>